button {
    background: none;
    border: none;
    height: 100%;
    width: 1.5rem;
    margin-left: 5px;
}

#textInputForm {
    display: flex;
    justify-content: center;
    height: max-content;
}

#textInput {
    line-height: 35px;
    border: 3px solid #1976d2;
    border-radius: 20px;
    resize: none;
    overflow: hidden;
}
